h2 {
  text-align: center;
  margin: 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

    .container {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      width: 300px;

      .legend {
        display: flex;
        justify-content: space-around;
      }

      .box {
        display: flex;
        height: 400px;

        .time, .energy {
          width: 15%;

          .hour {
            border-bottom: 1px solid black;
            height: 8.07%;
            display: flex;
            justify-content: flex-end;

            &:first-child {
              border-top: 1px solid black;
            }

            &:last-child {
              border: none;
            }
          }

          .energy-values {
            display: flex;
            justify-content: flex-start;
            border-bottom: 1px solid black;
            height: 24.7%;

            &:first-child {
              border-top: 1px solid black;
            }

            &:last-child {
              border: none;
            }
          }
        }

        .time-bar, .energy-bar {
          width: 35%;
          display: flex;
          justify-content: center;
          max-height: 100%;
        }

        .time-bar {
          background: linear-gradient(#9d9dfd, #37377a);
        }

        .energy-bar {
          background: linear-gradient(#a9fcd9, #19a651);
        }
      }
    }
  }

  button {
    outline: none;
    border: none;
    width: 150px;
    height: 50px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 3px 3px 7px rgba(31, 31, 31, 0.83);
  }

  .plus-buttons {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    button {
      color: whitesmoke;
      background: linear-gradient(-10deg, purple, #edc0ff);
    }
  }

  .minus-buttons {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .min-button {
      background: linear-gradient(-10deg, red, yellow);
    }
  }
}

.minus-button {
  width: 75px;
  background: linear-gradient(-10deg, red, orange);
}

.plus-button {
  width: 75px;
  background: linear-gradient(-10deg, purple, #edc0ff);
}
