<h2>{{addLeadingZero(now.getDate()) + '.' + addLeadingZero(now.getMonth()) + '.' + now.getFullYear()}}</h2>

<div class="main-container">

  <section class="diagram">

    <div class="container">

      <div class="legend">

        <div>Zeit</div>
        <div>Kalorien</div>

      </div>

      <div class="box">

        <div class="time">

          <div class="hour"
               *ngFor="let hour of hours"
          >
            {{hour}}
          </div>

        </div>

        <div
          class="time-bar"
          [style.height.%]="timeBar"
        >
          <p>
            {{actualTime}}
          </p>
        </div>

        <div
          class="energy-bar"
          [style.height.%]="energyBar"
        >
          <p>
            {{(energyBar * 22).toFixed(0)}}
          </p>
        </div>

        <div class="energy">

          <div class="energy-values"
               *ngFor="let value of calories"
          >
            {{value}}
          </div>

        </div>

      </div>

    </div>

  </section>

  <section
    class="plus-buttons"
    *ngIf="!minus"
  >

    <ng-container *ngFor="let value of buttons">
      <button (click)="addCalories(value)">+{{value}}</button>
    </ng-container>

  </section>

  <button
    [class.minus-button]="!minus"
    [class.plus-button]="minus"
    (click)="minus = !minus"
  >
    <span *ngIf="!minus">Minus</span>
    <span *ngIf="minus">Plus</span>
  </button>

  <div
    class="minus-buttons"
    *ngIf="minus"
  >

    <ng-container *ngFor="let value of buttons">
      <button class="minus-button" (click)="subtractCalories(value)">-{{value}}</button>
    </ng-container>

  </div>


</div>
